/* .special-darkblue {
    background-color: rgb(7, 47, 112);
}

.header-content {
    background: url("../assets/images/travels.png") no-repeat center;
    background-size: cover;
    min-height: 85vh;
} */
